body {
  font-family: sans-serif;
  margin: 0;
}

.righthalf {
  margin:0;
  width: 50vw;
}

#content {
  display: flex;
  width: 100vw;
}

.event {
  margin: 0;
  height: 20vh;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid lightslategray;
  transition: 0.2s;
  padding: 10px;
}

.event:hover {
  background-color: #B2D2DD;
  color: white;
  transition: 0.2s;
}

#map {
  border: 1px solid lightslategray;
}

#header {
  height: 10vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#B2D2DD;
  color: white;
  border-bottom: 1px solid lightslategray;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

input {
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

#event-list {
  display: flex;
  flex-direction: column;
  justify-content:
  margin: 0;
  padding: 0;
  height: 90vh;
  overflow-x: scroll;
  width: 50vw;
}

#map {
  height: 45vh;
  width: 50vw;
  margin: 0;
  padding: 0;
}

#selected {
  border: 1px solid lightslategray;
  height: 45vh;
  width: 50vw;
  margin: 0;
  padding: 0;
  text-align: center;

}
